kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: task-pv-claim
  namespace: nrd-database
spec:
  storageClassName: manual
  accessModes: 
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi